<div class="text-center m-t-md m-b-md">
	<img src="https://media1.giphy.com/media/8nXKJ7gdUe9wI/200_s.gif" />
</div>
<div class="alert alert-danger">
	<h2><strong>Oops!</strong> Error</h2>
	<p class="test-danger">An error occured...</p>
</div>